<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 text-center">

<button [hidden]="start_but"
 class="btn btn-warning main_btn"
 (click)="start_game()">
 Start Game</button>

 <div [hidden]="!start_but">

    <div class="container">
        <div class="row">
            <div class="col-3">

                <div class="row">
                    <div class="col-12 bg-primary mt-2 rounded"><b>PLAYER</b>

                    </div>
                     <button (click)="paper()"class="btn btn-primary player">paper</button>    
                    <button (click)="rock()" class="btn btn-primary player">rock</button>
                    <button (click)="sic()" class="btn btn-primary player">sicssor</button>
                
            </div>
            </div>
            <div class="col-md-6 main_box">
            <h1>Main container</h1>
            
            <div class ="row">
                <div class="col-6 game_vid"><img [src]="L_img_url" height="150px"width="150px"></div>
                <div class="col-6 game_vid"><img [src]="R_img_url"height="150px"width="150px"></div>
                 
                
            </div>
            <div class="row">
                <div class="col-12"><h2>Match Number:<span style="color: red;">{{t_match}}</span></h2></div>
            </div>
            
            <div class="row">
                <div class="col-6"><h2>PLAYER</h2><hr style="border:solid 2px;">
                <h4>Win:<span style="color: white">{{P_win}}</span></h4>
                <h4>Lost:<span style="color: white">{{P_lost}}</span></h4>
                <h4>Draw:<span style="color: white">{{P_draw}}</span></h4>
    </div>
                <div class="col-6"><h2>MACHINE</h2><hr style="border:solid 2px;">
                    <h4>Win:<span style="color: white">{{m_win}}</span></h4>
                    <h4>Lost<span style="color: white">{{m_lost}}</span>:</h4>
                    <h4>Draw:<span style="color: white">{{m_draw}}</span></h4>
                </div>
            </div>
            
            </div>
            <div class="col-3">
                
                <div class="row">
                    <div class="col-12 bg-primary mt-2 rounded"><b>MACHINE</b>
                    </div>
                </div>

                <button class="btn btn-primary player">paper</button>    
                <button class="btn btn-primary player">rock</button>
                <button class="btn btn-primary player">sicssor</button>
            </div>
      
    </div>
 </div>

        </div>
        </div>
    </div>
</div>